<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form 
    th:action="@{/login}" 
    th:object="${loginRequest}"
    method="post">
        <div>
            <label>Username</label>
            <input type="username" th:field="*{username}">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>

        <div>
            <label>Password</label>
            <input type="password" th:field="*{password}">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>