<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Category</title>
</head>
<body>
    <form 
    th:action="@{/category/store}" 
    th:object="${caretogyRequest}"
    method="post">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>